/* ==========================================================================
   #OBJECT LOGOS
   ========================================================================== */

.o-logo {
  fill: none;
  height: auto;
  width: 100%;
}
