/* ===========================================================================
   #IMAGES
   =========================================================================== */

@use '../tools/' as t;

img {
  height: auto;
  max-width: 100%;

  @include t.dark-mode {
    filter: brightness(70%);
  }
}
