/* #RESET */

main {
  display: block;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}

table {
  border-collapse: collapse;
}

textarea {
  resize: vertical;
}
