/* ==========================================================================
   #POSITION
   ========================================================================== */

/*
https://codepen.io/apsuhos/pen/yLjWyjY

https://tinyurl.com/2p9bjern --> How to Fix Issues With CSS Position Sticky Not Working?
*/

@use 'sass:map';
@use '../../tools/' as t;

$position: (
  'properties': (
    null: position
  ),
  'values': (
    '-static': static,
    '-fixed': fixed,
    '-absolute': absolute,
    '-relative': relative,
    '-sticky': sticky
  )
) !default;

@include t.generate-classes($position);
@include t.generate-responsive-classes($position);
