/* #COLOR SCHEME */

@use '../settings/' as s;

@mixin light-mode {
  @if s.config(color-scheme) {
    @media (prefers-color-scheme: light) {
      @content;
    }
  }
}

@mixin dark-mode {
  @if s.config(color-scheme) {
    .dark-mode & {
      @content;
    }
  }
}

/*
Example usage:
  ::selection {
    --selection-background-color: var(--surface-primary-dark);
    --selection-text-color: var(--text-white);

    @include dark-mode {
      --selection-background-color: #fff;
      --selection-text-color: #000;
    }

    background: var(--selection-background-color);
    color: var(--selection-text-color);
  }

It generates:

  ::selection {
    --selection-background-color: var(--surface-primary-dark);
    --selection-text-color: var(--text-white);
    background: var(--selection-background-color);
    color: var(--selection-text-color);
  }

  @media (prefers-color-scheme: dark) {
    ::selection {
      --selection-background-color: #fff;
      --selection-text-color: #000;
    }
  }

 */
